<%= flash.notice %>
<div class="buttons">
<p align="center"><button class="btn btn-primary col-8 mb-4"><%= link_to "Schedule Trip", trips_new_path %></button></p>

<p align="center"><button class="btn btn-primary col-8 mb-4"><%= link_to "Have Your Recycling Picked Up", trips_index_path %></button></p>
</div>