<h1 id="notice" align="center"><%= flash.notice %></h1>

<div class="row align-items-center home-div mt-5">
	<div class="col align-self-center buttons" id="verti">
		<%= button_to "Schedule Trip", new_trip_path, method: :get, class: "btn btn-primary col-9 mb-4 btn-lg", align: "center" %>
		<%= button_to "Schedule Pickup", trips_path, method: :get, class: "btn btn-primary col-9 mb-4 btn-lg", align: "center" %>
	</div>
	<div id="ocean"></div>
</div>
<div id="green-bottom"></div>
