<h1>Homepage</h1>

<h1 id="notice" align="center"><%= flash.notice %></h1>

<div class="buttons">
<button class="btn btn-primary col-9 mb-4 btn-lg" align="center"><%= link_to "Schedule Trip", new_trip_path %></button>

<button class="btn btn-primary col-9 mb-4 btn-lg" align="center"><%= link_to "Have Your Recycling Picked Up", trips_path %></button>
</div>

