// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body,
.container{
	min-height: 100vh;
}

#notice {
	margin-top: 20px;
}

#verti {
	margin: 34% auto;
}

.col {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
}

.btn{
	margin-top: 0;
	color: white;
	text-decoration: none;
	text-align: center;
}

.btn-lg {
	padding: 20px;
}

.button_to {
	width: 100%;
	text-align: center;
}