// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body,
.container{
	min-height: 100vh;
}

.form-group form {
	width: 100%;
}

#vert {
	margin: 34% auto;
}

.btn-primary {
	background-color: #009446;
	border-color: #009446;
	content-align: center;
	margin-top: 10px;
}

.btn {
	background-color: #009446;
}

.action {
	margin-bottom: 20px;
}

.btn-light {
    color: #111;
    background-color: #FFFF01;
    border-color: #FFFF01;
}