// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.white-btn {
	margin-top: 0;
	color: white;
	text-decoration: none;
	text-align: center;
}

#text {
	font-size: 22px;
	padding: 0;
}

.card {
	width: 25rem;
	margin: auto;
	margin-bottom: 10px;
}

.trip {
	display: flex;
	flex-direction: column;
	align-content: center;
}

.title-area {
	padding: 24px 0;
}

.bgcolor {
	margin: 0;
	padding: 24px 0;
	border-top: solid #009446 10px;
}